* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  font-family: sans-serif;
}

#screen-game {
  border: 2px solid black;
  margin: auto;
}

#lifebar {
  display: flex;
  position: absolute;
  top: 120px;
  left: 120px;
}

#aux-message {
  display: flex;
  position: absolute;
  bottom: 70px;
  left: calc(50% - 40px);
}